.job {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	height: auto;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 2rem;

	color: var(--bg-primary);
	background-color: var(--accent-purple);
	border-radius: 50px;
	border: 6px solid var(--silver-dark-accent);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	transition:
		transform 0.25s ease,
		box-shadow 0.25s ease,
		background-color 0.25s ease;
}

.job h2 {
	font-size: 3em;
}

.job h3 {
	font-size: 2em;
}

.job img {
	max-width: 100px;
	height: auto;
	padding-bottom: 20px;
}

.job-subcat {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	border-radius: 20px;
	text-decoration: none;
	margin-bottom: 2rem;

	color: var(--text-primary);
	background-color: var(--bg-secondary);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	transition:
		transform 0.25s ease,
		box-shadow 0.25s ease,
		background-color 0.25 ease;
}

#kt-img {
	max-width: 300px;
}
